<div class="row">
    <div class="row">
        <div class="col-md-3">
            <img ng-src="{{csonglist.coverImg}}" alt="" class="songlistcover">
        </div>
        <div class="col-md-7">
            <div>
            <span class="label label-danger">歌单</span>
            <span class="songtitle">{{csonglist.name}}</span>
            <div class="pull-right">
            	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            	<a href="" ng-click="editSongList()">编辑</a>
            </div>
            </div>
            <div>
            	<img src="/musictag/static/images/avator/avator.jpg" alt="" height="35px" width="35px">
            	<span>{{csonglist.creator.userName}}</span>
            	<span>{{formatDate(csonglist.createTime) | date:'yyyy-MM-dd'}} 创建</span>
            </div>
	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="btn btn-default">播放</button>
		<button type="button" class="btn btn-default">分享</button>
		<button type="button" class="btn btn-default">下载</button>
		<button type="button" class="btn btn-default" ng-click="addTag()">标签</button>
        <button type="button" class="btn btn-default">评论</button>
	</div>
	<div ng-show="csonglist.description">
		<p>介绍:{{csonglist.description}}</p>
	</div>
        </div>
    </div>
	
	<hr>
</div>
<songlist></songlist>
<div class="row">
	<div class="pagetitle">评论<span class="sub">共{{totalComment}}条评论</span></div>
	<hr>
    <div class="comment">
        <div class="avator">
            <img src="/musictag/static/images/avator/avator.jpg" alt="">
        </div>
        <div class="inputarea">
            <textarea class="commentarea" name="" id="" ng-model="comment.content"></textarea>
        </div>
        <div class="comment-footer">
            <button class="btn btn-default" ng-click="addComment()">评论</button>
        </div>
    </div>
    <commentlist></commentlist>
</div>