<div class="row" ng-controller="SongController">
	<div class="col-md-9" ui-view></div>
	<div class="col-md-3">
		<span class="pagetitle">我的音乐</span>
		<button type="button" class="btn btn-default pull-right" ng-click="isCollapsed = !isCollapsed">新增</button>
		<div>
			<hr>
			<div uib-collapse="isCollapsed">
				<div class="well well-lg">
					<form ng-submit="processForm()" novalidate id="song">
						<div class="form-group">
							<label class="sr-only" for="songName">歌曲名</label>
							<input type="text" class="form-control" id="songName" name="songName" ng-model="formData.songName" placeholder="请输入歌曲名"></div>
						<div class="form-group" ng-if="!showSingerForm">
							<label class="sr-only" for="singer">歌手</label>
							<input type="text" class="form-control" id="singer.id" name="singer.id" ng-model="formData.singer.id" placeholder="请输入歌手">
							<ul>
								<!-- Render a li element for every entry in the items array. Notice
				 the custom search filter "searchFor". It takes the value of the
				 searchString model as an argument.
			 -->
								<li ng-repeat="i in items | searchSong:searchString">
									<a href="{{i.url}}">
										<img ng-src="{{i.image}}" />
									</a>
									<p>{{i.title}}</p>
								</li>
							</ul>
						</div>
						<div class="form-group">
							<label class="sr-only" for="album">专辑</label>
							<input type="text" class="form-control" id="album.id" name="album.id" ng-model="formData.album.id" placeholder="请输入专辑"></div>
						<div class="form-group">
							<label class="sr-only" for="duration">时长</label>
							<input type="text" class="form-control" id="duration" name="duration" ng-model="formData.duration" placeholder="请输入歌曲时长"></div>
						<div class="form-group">
							<span id="helpBlock" class="help-block"></span>
							<button type="submit" class="btn btn-default">确认</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div></div>
	</div>
</div>