<div class="row">
    <div class="row">
        <div class="col-md-3">
            <img src="/musictag/static/images/cover/Tea-Time.jpg" alt="">
        </div>
        <div class="col-md-7">
            <div>
            <span class="label label-danger">单曲</span>
            <span class="songtitle">{{csong.songName}}</span>
            </div>
           
	<p>歌手：<span>{{csong.singer.singerName}}</span></p>
	<p>所属专辑：<span>{{csong.album.albumName}}</span></p>
	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="btn btn-default">播放</button>
		<button type="button" class="btn btn-default">分享</button>
		<button type="button" class="btn btn-default">下载</button>
		<button type="button" class="btn btn-default">标签</button>
        <button type="button" class="btn btn-default">评论</button>
	</div>
        </div>
    </div>
	
	<hr>
</div>
<div class="row content-block">
	<div class="pagetitle">标签</div>
	<hr>
	<span class="label label-info mylabel" ng-repeat="tag in tags" ng-model="tag" ng-click="showDetail(tag)">{{tag.name}}</span>
</div>
<div class="row">
	<div class="pagetitle">评论</div>
	<hr>
</div>