<div class="row" ng-controller="TagController">
	<div class="col-md-9" ng-if="!showResultTag">
	<div class="row">
		<span class="pagetitle">热门标签</span>
		<hr>
	</div>
	<div class="row">
		<span class="label label-info mylabel" ng-repeat="tag in tags">{{tag.name}}</span>
	</div>
	</div>
		<div class="col-md-9" ng-if="showResultTag">
	<div class="row">
		<span class="pagetitle">标签</span>
		<hr>
	</div>
	<div class="row">
		<span class="label label-info mylabel">{{existTag.name}}</span>
		创建人：{{existTag.creator.userName}}
		<hr>
	</div>
	<div class="row">
	<div>
		<table class="table table-striped">
		<thead>
		<tr>
			<th>序号</th>
			<th>歌曲</th>
			<th>时长</th>
			<th>歌手</th>
			<th>专辑</th>
		</tr>

		</thead>
		<tbody>
			<tr ng-repeat="song in songs">
				<td ng-bind="$index+1"></td>
				<td>{{song.songName}}</td>
				<td>{{song.singer}}</td>
				<td>{{song.duration}}</td>
				<td>{{song.album}}</td>
			</tr>
		</tbody>
</table>
	</div>
		
	</div>
	</div>
	<div class="col-md-3">
		<span class="pagetitle">我的标签</span>
		<button type="button" class="btn btn-default pull-right" ng-click="isCollapsed = !isCollapsed">新增</button>
		<div>

			<hr>
			<div uib-collapse="isCollapsed">
				<div class="well well-lg">
					<form ng-submit="processForm()" novalidate>
						<div class="form-group">
							<label class="sr-only" for="tagName">Tag Name</label>
							<input type="text" class="form-control" id="tagName" name="tagName" ng-model="formData.tagName" placeholder="请输入标签名"></div>
						<div class="form-group">
							<span id="helpBlock" class="help-block">{{createResult}}</span>
							<button type="submit" class="btn btn-default">确认</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div></div>
	</div>
</div>