.vertical-center{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pagetitle{
	font-size: 20px;
	font-weight: normal;
	line-height: 28px;
}
.icon{
    margin-right: 8px;
}
.songtitle{
    margin-left: 15px;
    font-size: 24px;
}
.content-block{
    margin-bottom: 30px;
}
.sub{
  margin: 9px 0 0 20px;
  font-size: 14px;
}
.comment .avator img{
    float: left;
    width: 50px;
    height: 50px;
    margin-right: -100px;
}
.inputarea{
  margin-left: 62px;
}
.commentarea{
    height: 50px;
    width: 100%;
    margin-right: -20px
}
.comment-footer .btn{
  float: right;
}
.comment{
    padding: 15px 0;
    border-top: 1px dotted #ccc;
}
.comment .head{
    float: left;
    width: 50px;
    height: 50px;
    margin-right: -100px;
}
.comment .head img{
    vertical-align: middle;
}
.comment .contentwrap{
  margin-left: 60px;
}
.contentwrap .content{
      line-height: 20px;
}
.time{
    float: left;
    margin: 0 !important;
}
.contentwrap .content-foot{
      margin-top: 15px;
    text-align: right;
}