.vertical-center{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pagetitle{
	font-size: 20px;
	font-weight: normal;
	line-height: 28px;
}
.icon{
    margin-right: 8px;
}